@charset "UTF-8";
/*Durée*/
@media only screen and (min-width: 768px) {
  .functioning__allsteps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }

  .header .header__searchbar {
    display: grid;
    grid-template-columns: 0.85fr 1fr;
  }

  main .card__description__heart {
    justify-self: flex-end;
    margin: 1.5rem 1.5rem 0 0;
  }

  .footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/*--LOADING SPINNER--*/
@-webkit-keyframes BGloading {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes BGloading {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1);
    opacity: 1;
  }
  98%, 100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1);
    opacity: 1;
  }
  98%, 100% {
    transform: scale(0);
    opacity: 0;
  }
}
/*--ANIME MENUS--*/
@-webkit-keyframes menuslide {
  0% {
    transform: translateY(0);
    transform: scale(0.99);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  80%, 100% {
    transform: translateY(-50px);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes menuslide {
  0% {
    transform: translateY(0);
    transform: scale(0.99);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  80%, 100% {
    transform: translateY(-50px);
    transform: scale(1);
    opacity: 1;
  }
}
.restaurantmenu__bloc__menu {
  -webkit-animation: menuslide 1.1s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
  animation: menuslide 1.1s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
}
.restaurantmenu__bloc__menu h3 {
  -webkit-animation: menuslide 1.1s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
  animation: menuslide 1.1s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
}
.restaurantmenu__bloc__menu__info {
  -webkit-animation: menuslide 1.1s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
  animation: menuslide 1.1s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
}
.restaurantmenu__bloc__menu__info:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.restaurantmenu__bloc__menu__info:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.restaurantmenu__bloc__menu__info:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.restaurantmenu__bloc__menu__info:nth-child(5) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

/*--HEART--*/
.heart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  margin-right: 1rem;
  position: relative;
}
.heart .fas {
  position: absolute;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  color: rgba(0, 0, 0, 0);
  z-index: 1;
}
.heart .far {
  position: absolute;
  background-color: white;
  z-index: 2;
}

input {
  position: absolute;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.far:hover {
  opacity: 0;
  transition-duration: 0.5s;
}

.fas:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.fa-heart {
  font-size: 1.6rem;
}

body {
  font-family: "roboto", sans-serif;
  margin: 0;
}

#main_wrapper {
  color: black;
  background-color: white;
}

/*--LOADING SPINNER--*/
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2c2c296;
  -webkit-animation: BGloading 0s linear both 3s;
          animation: BGloading 0s linear both 3s;
  z-index: 3;
}
.loading__spinner {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.loading__spinner::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #9356dc;
  background-color: #9356dc;
  -webkit-animation: grow 2.5s linear 0.25s both;
          animation: grow 2.5s linear 0.25s both;
}
.loading__spinner::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #9356dc;
  background-color: #9356dc;
  background-color: #99e2d0;
  -webkit-animation: grow 2.5s linear 0.74s both;
          animation: grow 2.5s linear 0.74s both;
}
.loading__spinner span {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #9356dc;
  background-color: #9356dc;
  background-color: #ff79da;
  -webkit-animation: grow 2.5s linear 0.5s both;
          animation: grow 2.5s linear 0.5s both;
}

/* ---DESCRIPTION--- */
.header {
  font-size: 1.3rem;
}
.header__logo {
  display: grid;
  justify-items: center;
  padding: 1rem;
}
.header__searchbar {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  background-color: #e4e4e4;
  background-size: cover;
  box-shadow: inset 0px 5px 10px -8px #000000b3;
}
.header .map {
  margin: 1rem 2rem 1rem 5.5rem;
  justify-self: end;
  align-self: center;
  color: #656363;
}
.header__searchbar p {
  justify-items: start;
  font-weight: 300;
  font-size: 1.2rem;
}

/* ---LEGENDE--- */
.header__legend {
  text-align: center;
  padding: 2.8rem 1.5rem 2.8rem 1.5rem;
  background-color: #f6f6f6;
}
.header__legend h1 {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0;
}
.header__legend p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #0000009e;
  padding-bottom: 1rem;
}
.header__legend .explore__btn {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0px 8px 12px #adababa6;
  color: white;
  border-style: none;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1.1rem;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  cursor: pointer;
}
.header__legend .explore__btn:hover {
  background: linear-gradient(0deg, #a16be0, #ff93e1);
  box-shadow: 0px 3px 6px 2px rgba(122, 120, 120, 0.6509803922);
  border-style: none;
  transform: scale(1.1);
}

/* ---FONCTIONNEMENT--- */
.functioning {
  display: grid;
  padding: 2.8rem 1.5rem 2.8rem 1.5rem;
}
.functioning h2 {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}
.functioning__allsteps {
  display: grid;
  padding: 0 0 0 1rem;
  gap: 2rem;
  list-style: none;
  font-size: 1.1rem;
  cursor: pointer;
}
.functioning__allsteps__list {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 1.4rem;
  padding: 1.4rem 1.4rem 1.4rem 1rem;
  align-items: center;
  box-shadow: 0px 6px 12px #adababa6;
  transition: background-color 450ms;
  transition-delay: 130ms;
}
.functioning__allsteps__list:hover {
  background-color: #ece1f9;
}
.functioning__allsteps__list:hover .functioning__allsteps__list__icon {
  color: #9356dc;
  transform: scale(1.2);
}
.functioning__allsteps__list__number {
  background-color: #9356dc;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  position: relative;
  right: 1.9rem;
  color: white;
}
.functioning__allsteps__list__icon {
  display: flex;
  font-size: 1.2rem;
  color: #656363;
  transition: transform 450ms;
}
.functioning__allsteps__list__legend {
  display: flex;
  padding-left: 1rem;
}

/* ---PRES RESTAURANTS--- */
.restaurant {
  padding: 2.8rem 1.5rem 2.8rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  background-color: #f6f6f6;
}
.restaurant h2 {
  font-size: 1.8rem;
  margin: 0;
}
.restaurant__card {
  height: 17rem;
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0px 8px 12px #adababa6;
}
.restaurant__card a {
  text-decoration: none;
  color: black;
}
.restaurant__card img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card__description {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  color: black;
}
.card__description__title {
  font-size: 1.2rem;
  margin: 0.5rem 0 0.5rem 1rem;
}
.card__description__location {
  font-size: 1rem;
  margin: 0 0 0 1rem;
  font-weight: 300;
}

.new {
  position: absolute;
  right: 2rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  background-color: #99e2d0;
  color: #2fa487;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}

/* ---FOOTER--- */
.footer {
  background-color: #2d2c2c;
  padding: 1rem 1rem 1rem 2rem;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.2rem;
  margin: 0;
}
.footer__list {
  display: grid;
  gap: 0.5rem;
  padding: 0;
}
.footer__listitem {
  color: white;
  list-style: none;
}
.footer__listitem a {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
}

/* ---HEADER--- */
.headermenu {
  display: flex;
  flex-direction: row;
  font-family: "Shrikhand", sans-serif;
}
.headermenu__back {
  text-decoration: none;
  color: #656363;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 1.8rem;
}
.headermenu__logo {
  justify-content: center;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

/* ---MAIN--- */
.restaurantmenu__img img {
  max-height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
.restaurantmenu__bloc {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
  margin-top: -2.5rem;
  border-radius: 2rem 2rem 0 0;
  padding: 1.5rem 1rem 1.5rem 1rem;
}
.restaurantmenu__bloc__btn {
  display: flex;
  justify-content: center;
}
.restaurantmenu__bloc__btn__commande {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0px 8px 12px #adababa6;
  color: white;
  border-style: none;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  margin: 2rem;
  font-size: 1.1rem;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  cursor: pointer;
}
.restaurantmenu__bloc__btn__commande:hover {
  background: linear-gradient(0deg, #a16be0, #ff93e1);
  box-shadow: 0px 3px 6px 2px rgba(122, 120, 120, 0.6509803922);
  border-style: none;
  transform: scale(1.1);
}
.restaurantmenu__bloc__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.restaurantmenu__bloc__header h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8rem;
  align-items: center;
  margin: 0;
}
.restaurantmenu__bloc .heart > .far {
  background-color: #f6f6f6;
  cursor: pointer;
}
.restaurantmenu__bloc__menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.restaurantmenu__bloc__menu h3 {
  position: relative;
  margin: 2rem 0 0.5rem 0;
  text-transform: uppercase;
  font-weight: 100;
}
.restaurantmenu__bloc__menu h3::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 3px;
  background-color: #99e2d0;
  bottom: -15px;
  margin-bottom: 0.5rem;
}
.restaurantmenu__bloc__menu__info {
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0px 8px 12px #adababa6;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: pointer;
}
.restaurantmenu__bloc__menu__info:hover .icone {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.restaurantmenu__bloc__menu__info:hover i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.restaurantmenu__bloc__menu__info__description {
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.restaurantmenu__bloc__menu__info__description h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0.8rem;
  font-weight: 400;
}
.restaurantmenu__bloc__menu__info__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0.8rem;
  font-size: 0.9rem;
  font-weight: 300;
}
.restaurantmenu__bloc__menu__info__description__texte {
  width: 100%;
  margin-left: 1rem;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.restaurantmenu__bloc__menu__info__description__Price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8rem;
  margin-right: 0.8rem;
  max-width: 100%;
}
.restaurantmenu__bloc__menu__info .icone {
  width: 7rem;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -7rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.restaurantmenu__bloc__menu__info .icone i {
  color: #99e2d0;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  transition-duration: 0.5s;
}

/* ---FOOTER--- */
.footer {
  background-color: #2d2c2c;
  padding: 1rem 1rem 1rem 2rem;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.2rem;
  margin: 0;
}
.footer__list {
  display: grid;
  gap: 0.5rem;
  padding: 0;
}
.footer__listitem {
  color: white;
  list-style: none;
}
.footer__listitem a {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
}/*# sourceMappingURL=style.css.map */