/*--LOADING SPINNER--*/

@keyframes BGloading {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  98%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

/*--ANIME MENUS--*/
@keyframes menuslide {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transform: scale(0.99);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  80%,
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    transform: scale(1);
    opacity: 1;
  }
}

.restaurantmenu__bloc__menu {
  -webkit-animation: menuslide $animation-ms
    cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
  animation: menuslide $animation-ms cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
  h3 {
    -webkit-animation: menuslide $animation-ms
      cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
    animation: menuslide $animation-ms cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
  }
  &__info {
    -webkit-animation: menuslide $animation-ms
      cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
    animation: menuslide $animation-ms cubic-bezier(0.57, 0.13, 0.68, 0.89) both;

    &:nth-child(2) {
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      animation-delay: 1s;
    }
    &:nth-child(5) {
      animation-delay: 1.8s;
    }
  }
}

/*--HEART--*/

.heart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  margin-right: 1rem;
  position: relative;
  .fas {
    position: absolute;
    @include gradientcolor;
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    z-index: 1;
  }
  .far {
    position: absolute;
    background-color: white;
    z-index: 2;
  }
}
.far:hover {
  opacity: 0;
  transition-duration: 0.5s;
}
.fas:hover {
  opacity: 1;
  transition-duration: 0.5s;
}
.fa-heart {
  font-size: 1.6rem;
}
