body {
  font-family: "roboto", sans-serif;
  margin: 0;
}
@media all and (max-width: 1025px) {
  #main_wrapper {
    color: black;
  }
  /* ---DESCRIPTION--- */
  .nav__link {
    list-style: none;
  }

  .header {
    font-size: 1.3rem;

    .header__logo {
      display: grid;
      justify-items: center;
      padding: 1rem;
    }

    .header__searchbar {
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      background-color: #eaeaea;
      background-size: cover;
      box-shadow: inset 0px 5px 10px -8px #000000b3;
    }
    .map {
      margin: 1rem 1rem 1rem 4.5rem;
      justify-self: center;
      align-self: center;
      color: #353535;
    }
    .header__searchbar p {
      justify-items: start;
      font-weight: 300;
    }
  }

  /* ---LEGENDE--- */

  .header__legend {
    text-align: center;
    padding: $generalpadding;
    background-color: #f6f6f6;

    h1 {
      font-weight: 700;
      font-size: 1.8rem;
      margin: 0;
    }

    p {
      font-size: 1.2rem;
      font-weight: 300;
      color: #0000009e;
      padding-bottom: 1rem;
    }

    .explore__btn {
      @include gradientcolor;
      color: white;
      border-style: none;
      box-shadow: 0px 4px 12px $bs-color;
      border-radius: 2rem;
      padding: 1rem;
      font-size: 1.1rem;
      transform: scale(1);
      transition-property: transform;
      transition-duration: 400ms;
      &:hover {
        @include btn-hover;
      }
    }
  }
}
