#main_wrapper {
  color: black;
}

/* ---DESCRIPTION--- */

.header {
  font-size: 1.3rem;

  &__logo {
    display: grid;
    justify-items: center;
    padding: 1rem;
  }

  &__searchbar {
    display: grid;
    grid-template-columns: 0.95fr 1fr;
    background-color: #e4e4e4;
    background-size: cover;
    box-shadow: inset 0px 5px 10px -8px #000000b3;
  }
  .map {
    margin: 1rem 5rem 1rem 5rem;
    justify-self: end;
    align-self: center;
    color: $icons-color;
  }
  &__searchbar p {
    justify-items: start;
    font-weight: 300;
  }
}

/* ---LEGENDE--- */

.header__legend {
  text-align: center;
  padding: $generalpadding;
  background-color: #f6f6f6;

  h1 {
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #0000009e;
    padding-bottom: 1rem;
  }

  .explore__btn {
    @include gradientcolor;
    @include box-shadow(0px 8px 12px $bs-color);
    color: white;
    border-style: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.1rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
      @include btn-hover(scale(1.1));
    }
  }
}

/* ---FONCTIONNEMENT--- */

.functioning {
  display: grid;
  padding: $generalpadding;
  h2 {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
  }
  &__allsteps {
    display: grid;
    padding: 0 0 0 1rem;
    gap: 2rem;
    list-style: none;
    font-size: 1.1rem;

    &__list {
      display: flex;
      background-color: $bg-color;
      border-radius: 1.4rem;
      padding: 1.4rem 1.4rem 1.4rem 1rem;
      align-items: center;
      @include box-shadow(0px 6px 12px $bs-color);
      transition: background-color 450ms;
      transition-delay: 150ms;

      &:hover {
        @include functioning-hover;
      }
      &__number {
        background-color: $primarycolor;
        border-radius: 1rem;
        padding: 0.2rem 0.5rem;
        position: relative;
        right: 1.9rem;
        color: white;
      }
      &__icon {
        display: flex;
        font-size: 1.2rem;
        color: $icons-color;
        transition: transform 450ms;
      }
      &__legend {
        display: flex;
        padding-left: 1rem;
      }
    }
  }
}
