#main_wrapper {
  color: black;
  background-color: white;
}
/*--LOADING SPINNER--*/
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2c2c296;
  animation: BGloading 0s linear both 3s;
  z-index: 3;
  &__spinner {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    &::before {
      content: "";
      @include loader;
      animation: grow 2.5s linear 0.25s both;
    }
    &::after {
      content: "";
      @include loader;
      background-color: $tertiarycolor;
      animation: grow 2.5s linear 0.74s both;
    }
    span {
      content: "";
      @include loader;
      background-color: $secondarycolor;
      animation: grow 2.5s linear 0.5s both;
    }
  }
}

/* ---DESCRIPTION--- */

.header {
  font-size: 1.3rem;

  &__logo {
    display: grid;
    justify-items: center;
    padding: 1rem;
  }

  &__searchbar {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: #e4e4e4;
    background-size: cover;
    box-shadow: inset 0px 5px 10px -8px #000000b3;
  }
  .map {
    margin: 1rem 2rem 1rem 5.5rem;
    justify-self: end;
    align-self: center;
    color: $icons-color;
  }
  &__searchbar p {
    justify-items: start;
    font-weight: 300;
    font-size: 1.2rem;
  }
}

/* ---LEGENDE--- */

.header__legend {
  text-align: center;
  padding: $generalpadding;
  background-color: #f6f6f6;

  h1 {
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #0000009e;
    padding-bottom: 1rem;
  }

  .explore__btn {
    @include gradientcolor;
    @include box-shadow(0px 8px 12px $bs-color);
    color: white;
    border-style: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.1rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    cursor: pointer;
    &:hover {
      @include btn-hover(scale(1.1));
    }
  }
}

/* ---FONCTIONNEMENT--- */

.functioning {
  display: grid;
  padding: $generalpadding;
  h2 {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
  }
  &__allsteps {
    display: grid;
    padding: 0 0 0 1rem;
    gap: 2rem;
    list-style: none;
    font-size: 1.1rem;
    cursor: pointer;

    &__list {
      display: flex;
      background-color: $bg-color;
      border-radius: 1.4rem;
      padding: 1.4rem 1.4rem 1.4rem 1rem;
      align-items: center;
      @include box-shadow(0px 6px 12px $bs-color);
      transition: background-color 450ms;
      transition-delay: 130ms;

      &:hover {
        @include functioning-hover;
      }
      &__number {
        background-color: $primarycolor;
        border-radius: 1rem;
        padding: 0.2rem 0.5rem;
        position: relative;
        right: 1.9rem;
        color: white;
      }
      &__icon {
        display: flex;
        font-size: 1.2rem;
        color: $icons-color;
        transition: transform 450ms;
      }
      &__legend {
        display: flex;
        padding-left: 1rem;
      }
    }
  }
}

/* ---PRES RESTAURANTS--- */

.restaurant {
  padding: $generalpadding;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  background-color: #f6f6f6;

  h2 {
    font-size: 1.8rem;
    margin: 0;
  }

  &__card {
    height: 17rem;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    @include box-shadow(0px 8px 12px $bs-color);

    a {
      text-decoration: none;
      color: black;
    }

    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
    }
  }
}
.card__description {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  color: black;

  &__title {
    font-size: 1.2rem;
    margin: 0.5rem 0 0.5rem 1rem;
  }
  &__location {
    font-size: 1rem;
    margin: 0 0 0 1rem;
    font-weight: 300;
  }
}

.new {
  position: absolute;
  right: 2rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  @include card-new;
}

/* ---FOOTER--- */
.footer {
  background-color: $bg-footer;
  padding: 1rem 1rem 1rem 2rem;
  a {
    color: white;
    text-decoration: none;
  }
  &__logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.2rem;
    margin: 0;
  }
  &__list {
    display: grid;
    gap: 0.5rem;
    padding: 0;
  }
  &__listitem {
    color: white;
    list-style: none;
    a {
      display: flex;
      justify-content: start;
      gap: 0.5rem;
    }
  }
}
