/* ---HEADER--- */
.headermenu {
  display: flex;
  flex-direction: row;
  font-family: "Shrikhand", sans-serif;
  &__back {
    text-decoration: none;
    color: $icons-color;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 1.8rem;
  }
  &__logo {
    justify-content: center;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
  }
}

/* ---MAIN--- */
.restaurantmenu {
  &__img {
    img {
      max-height: 250px;
      width: 100%;
      object-fit: cover;
      z-index: 0;
    }
  }

  &__bloc {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-color: $bg-color;
    margin-top: -2.5rem;
    border-radius: 2rem 2rem 0 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    &__btn {
      display: flex;
      justify-content: center;
      &__commande {
        @include gradientcolor;
        @include box-shadow(0px 8px 12px $bs-color);
        color: white;
        border-style: none;
        border-radius: 2rem;
        padding: 0.7rem 2rem;
        margin: 2rem;
        font-size: 1.1rem;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 400ms;
        cursor: pointer;
        &:hover {
          @include btn-hover(scale(1.1));
        }
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      h2 {
        font-family: "Shrikhand", sans-serif;
        font-size: 1.8rem;
        align-items: center;
        margin: 0;
      }
      &__heart {
        font-size: 1.6rem;
        padding: 0.3rem 1rem 0 0;
      }
    }
    &__menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h3 {
        position: relative;
        margin: 2rem 0 0.5rem 0;
        text-transform: uppercase;
        font-weight: 100;
      }
      h3::before {
        content: "";
        position: absolute;
        width: 45px;
        height: 3px;
        background-color: $tertiarycolor;
        bottom: -15px;
        margin-bottom: 0.5rem;
      }
      &__info {
        @include bg-cards;
        padding: 0.8rem;
        h4 {
          margin: 0;
          font-size: 1.1rem;
        }
        &__legende {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          font-size: 0.9rem;
          p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 300;
            margin: 0.5rem 0 0 0;
          }
          span {
            margin: 0.5rem 0 0 0;
          }
        }
      }
    }
  }
}

/* ---FOOTER--- */
.footer {
  background-color: $bg-footer;
  padding: 1rem 1rem 1rem 2rem;
  a {
    color: white;
    text-decoration: none;
  }
  &__logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.2rem;
    margin: 0;
  }
  &__list {
    display: grid;
    gap: 0.5rem;
    padding: 0;
  }
  &__listitem {
    color: white;
    list-style: none;
    a {
      display: flex;
      justify-content: start;
      gap: 0.5rem;
    }
  }
}
