@mixin gradientcolor {
  background: linear-gradient(to bottom right, $secondarycolor, $primarycolor);
}

@mixin btn-hover($scale) {
  background: linear-gradient(
    0deg,
    lighten($primarycolor, 5),
    lighten($secondarycolor, 5)
  );
  box-shadow: 0px 3px 6px 2px darken($bs-color, 20%);
  border-style: none;
  transform: $scale;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

@mixin functioning-hover {
  background-color: lighten($primarycolor, 33);
  .functioning__allsteps__list__icon {
    color: $primarycolor;
    transform: scale(1.2);
  }
}

@mixin card-new {
  background-color: $tertiarycolor;
  color: darken($tertiarycolor, 33%);
  font-size: 1.2rem;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
}

@mixin bg-cards {
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  @include box-shadow(0px 8px 12px $bs-color);
}
