@mixin gradientcolor {
  background: linear-gradient(to bottom right, $secondarycolor, $primarycolor);
}

@mixin btn-hover($scale) {
  background: linear-gradient(
    0deg,
    lighten($primarycolor, 5),
    lighten($secondarycolor, 5)
  );
  box-shadow: 0px 3px 6px 2px darken($bs-color, 20%);
  border-style: none;
  transform: $scale;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

@mixin functioning-hover {
  background-color: lighten($primarycolor, 35);
  .functioning__allsteps__list__icon {
    color: $primarycolor;
    transform: scale(1.2);
  }
}
