$generalpadding: 2.8rem 1.5rem 2.8rem 1.5rem;
$primarycolor: #9356dc;
$secondarycolor: #ff79da;
$tertiarycolor: #99e2d0;
$bs-color: #adababa6;
$bg-color: #f6f6f6;
$icons-color: #656363;
$bg-footer: #2d2c2c;
$animation-ms: 1.1s; /*Durée*/
